/*************_grid.scss*************/
/*Column width:68px; Column margin:10px;*/
/* total with of page */
/* number of columns */
/* margin between columns */
.skyscraper {
  float: left;
  float: left;
  margin-right: 0;
  width: 136px;
  margin-left: 2px; }

.horizAd {
  margin: 56px 0 0; }

.asideAd2 {
  margin: 15px 0 0 0;
  float: right; }

@media only screen and (max-width: 903px) {
  .skyscraper, .horizAd, .asideAd1, .asideAd2 {
    display: none; }

  .googleAd img {
    width: 100%;
    min-width: 100%; } }
