#top_header {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#032c8e), to(#050d46));
  background: -webkit-linear-gradient(bottom, #050d46, #032c8e);
  background: -moz-linear-gradient(bottom, #050d46, #032c8e);
  background: -o-linear-gradient(bottom, #050d46, #032c8e);
  background: -ms-linear-gradient(bottom, #050d46, #032c8e);
  background: linear-gradient(bottom, #050d46, #032c8e);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#032c8e , EndColorStr= #050d46);
  position: relative;
  overflow: hidden;
  height: 80px;
  width: 100%; }
  #top_header .header-logo {
    position: absolute;
    left: 10px;
    top: 12px;
    z-index: 25; }
  #top_header .desktop-header {
    float: none;
    margin: 0 auto;
    width: 946px;
    height: 80px;
    position: relative; }
    #top_header .desktop-header #main_menu {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#c5c5c5));
      background: -webkit-linear-gradient(bottom, #c5c5c5, #efefef);
      background: -moz-linear-gradient(bottom, #c5c5c5, #efefef);
      background: -o-linear-gradient(bottom, #c5c5c5, #efefef);
      background: -ms-linear-gradient(bottom, #c5c5c5, #efefef);
      background: linear-gradient(bottom, #c5c5c5, #efefef);
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#efefef , EndColorStr= #c5c5c5);
      border-bottom: 2px solid #99ccff;
      height: 24px;
      width: 946px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      zoom: 1; }
    #top_header .desktop-header ul {
      padding-left: 165px;
      border-bottom: 1px solid white;
      width: 781px;
      height: 23px; }
    #top_header .desktop-header li {
      float: left;
      height: 23px; }
      #top_header .desktop-header li a {
        font-size: 13px;
        display: block;
        height: 15px;
        line-height: 15px;
        padding: 3px 8px 5px 8px;
        border-left: 1px solid white;
        border-right: 1px solid #8a8a8a;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        background-image: url(../images/tooltip.png);
        background-position: 100% 10px;
        background-repeat: no-repeat; }
      #top_header .desktop-header li:first-child a {
        border-left-width: 0; }
      #top_header .desktop-header li:last-child a {
        border-right-width: 0; }
      #top_header .desktop-header li:hover {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeeff), to(#b0d8ff));
        background: -webkit-linear-gradient(bottom, #b0d8ff, #ddeeff);
        background: -moz-linear-gradient(bottom, #b0d8ff, #ddeeff);
        background: -o-linear-gradient(bottom, #b0d8ff, #ddeeff);
        background: -ms-linear-gradient(bottom, #b0d8ff, #ddeeff);
        background: linear-gradient(bottom, #b0d8ff, #ddeeff);
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ddeeff , EndColorStr= #b0d8ff);
        zoom: 1; }
      #top_header .desktop-header li a:hover {
        border-color: #9dceff;
        text-decoration: underline; }
      #top_header .desktop-header li:first-child a:hover {
        border-left-width: 1px;
        padding-left: 7px; }
      #top_header .desktop-header li:last-child a:hover {
        border-right-width: 1px;
        padding-right: 21px; }
    #top_header .desktop-header #search {
      background-color: #495a92;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      bottom: 10px;
      display: block;
      left: 170px;
      padding: 5px 6px;
      position: absolute;
      border-top: 1px solid #5e6fa6;
      border-left: 1px solid #5e6fa6; }
      #top_header .desktop-header #search input {
        font-size: 14px;
        height: 14px;
        line-height: 14px;
        padding: 4px;
        width: 246px;
        border: 1px solid #d27d00;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; }
      #top_header .desktop-header #search button {
        font-size: 13px;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fde4a3), to(#fd9900));
        background: -webkit-linear-gradient(bottom, #fd9900, #fde4a3);
        background: -moz-linear-gradient(bottom, #fd9900, #fde4a3);
        background: -o-linear-gradient(bottom, #fd9900, #fde4a3);
        background: -ms-linear-gradient(bottom, #fd9900, #fde4a3);
        background: linear-gradient(bottom, #fd9900, #fde4a3);
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#fde4a3 , EndColorStr= #fd9900);
        zoom: 1;
        border: 1px solid #d27d00;
        height: 23px;
        line-height: 20px;
        color: #b12000;
        font-weight: bold;
        width: 90px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: Arial;
        *margin-left: 3px; }
