/*************_top-section.scss*************/
/*************_global-vars.scss*************/
/*************_headings.scss*************/
/*************_global-vars.scss*************/
/*************_style-mixins.scss*************/
/*************_headings-mixins.scss*************/
/*************_global-vars.scss*************/
/*************_style-mixins.scss*************/
h1, .huge {
  font-size: 22px;
  color: #666666;
  font-weight: normal; }

h2, h2 a {
  font-size: 24px;
  color: #333333;
  font-weight: normal;
  line-height: 28px; }

h3, h3 a, .large {
  font-size: 16px;
  font-weight: normal;
  color: #666666; }

h3 a.important {
  font-size: 1em; }

h4, .bigger, h4 a, .bigger a {
  font-size: 13px;
  color: #333333; }

h5, h5 a, .big {
  font-size: 12px;
  color: #333333; }

h6 {
  font-size: 16px;
  color: #be2a42;
  font-weight: normal;
  margin: .5em; }

.top-section .breadcrumbs {
  float: left; }
.top-section h1 {
  font-size: 22px;
  color: #666666;
  font-weight: normal;
  clear: left;
  float: left;
  margin: 5px 0 15px 0;
  *margin: 5px 0 0 0;
  line-height: 24px; }
.top-section .pr-btn {
  float: right;
  margin: 20px 10px 0 0; }
.top-section .img-header {
  width: 100%; }
  .top-section .img-header img {
    width: 100%;
    max-width: 100%; }
.top-section .s-btns {
  margin: 10px 5px 0 0;
  float: right; }

.categories {
  clear: both;
  position: relative;
  z-index: 0;
  margin: 15px 0 30px; }
  .categories h2 {
    font-size: 24px;
    color: #333333;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 10px 0; }

/*	Tablet Layout: 768px */
@media only screen and (min-width: 614px) and (max-width: 903px) {
  .categories a.more {
    border-top: 1px solid #e1e1e1;
    color: #1f6ab7;
    font-weight: bold;
    text-align: right;
    margin: 5px 7px 2px 0;
    display: block; }

  .top-section .s-btns {
    margin: 10px 5px 0 0;
    float: right; } }
/*		Mobile Wide Layout: 480px */
@media only screen and (min-width: 448px) and (max-width: 613px) {
  .top-section .s-btns {
    margin: 0px 5px 0 0;
    float: left;
    clear: both; }
  .top-section h1 {
    margin-top: 20px; } }
/*		Mobile Layout: 320px */
@media only screen and (max-width: 447px) {
  .top-section .pr-btn {
    display: none; }
  .top-section h1, .top-section .categories {
    margin: 5px 10px; }
  .top-section .s-btns {
    margin: 0px 5px 0 7px;
    float: left; } }
