/*************_global-vars.scss*************/
$font-family-standart:"Segoe UI", Arial, Helvetica, sans-serif;
$body-font-size:12px;
$body-line-height:18px;
$col_margin: 10px;
$input-p:5;

$header-light-bg-color:#003b7a;
$header-dark-bg-color:#002c5b;

$font-color-text-heading:#333;
$font-color-standard:#333;
$font-color-standard-h:#666;

$font-color-link:#1f6ab7;
$font-color-link-important:#be2a42;

$content-padding-LR:20px;
$content-padding-TB:10px;
$content-bg:#f3f3f3;
$content-bg-light:#f6f6f6;
$content-bg-dark:#ccc;
$rounded-radius:4px;
$content-error-bg:#ffeca7;
$content-important-bg:#d8e2ec;
$content-important-border:#C5CDD6;

$content-border-color:#e1e1e1;
$content-border-color-dark:#ccc;

$tab-color-dark:#1f6ab7;
$tab-color-light:#3b7dc0;
$tab-border:#004b94;
$tab-text-color:#fff;

$tab-normal-color-dark:#eee;
$tab-normal-color-light:#f6f6f6;

$pr-btn-light-color:#1f6fbe;
$pr-btn-dark-color: #185592;
$pr-btn-font-color: #fff;
$pr-btn-text-shadow-color: #333;
$pr-btn-border-color:#003073;
$pr-btn-light-color-hover: #4a96e2;
$pr-btn-dark-color-hover: #14487c ;
$pr-btn-shadow-color: #000;
$pr-btn-hover-color:#1e68b3;

$btn-font-color: #333;
$btn-text-shadow-color: #fff;
$btn-border-color:#cbcbcb;
$btn-dark-color: #e2e2e2;
$btn-light-color: #f5f5f5;
$btn-light-color-hover: #f6f6f6;
$btn-dark-color-hover: #ccc;
$btn-shadow-color: #ccc;
$btn-hover-color:#fff;

$submenu-bg-color:#fff;
$submenu-bg-color-hover:#cee0ee;//rgba(38,156,243,.15);
$user-name-threadstarter:#1f6ab7;
$user-name:$font-color-link;
$user-name-moderator:$font-color-link-important;
$footer-bg-color:#fff;

$announcement-bg:#f3f6fb;
$announcement-header:#d1e4f3;
$announcement-border:#abc9e5;