$headerGradientColor1:#050D46;
$headerGradientColor2:#032C8E;
$navGradientColor1:#c5c5c5;
$navGradientColor2:#efefef;
$navGradientHoverColor1:#b0d8ff;
$navGradientHoverColor2:#def;
$navBorderBottomColor:#9cf;
$searchBGColor:#495a92;
$searchBorderColor:#5e6fa6;
$searchInputBorderColor:#d27d00;
$searchButtonGradientColor1:#fd9900;
$searchButtonGradientColor2:#fde4a3;
$searchButtonBorderColor:#d27d00;
$searchButtonFontColor:#b12000;